<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dan Loewenherz</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>no t.co</string>
	<key>CFBundleIdentifier</key>
	<string>com.dloewenherz.no-tco</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>Scripts/injected.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.twitter.com/*</string>
			<string>https://*.twitter.com/*</string>
			<string>http://twitter.com/*</string>
			<string>https://twitter.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Replace all t.co links with their original, expanded URLs.</string>
	<key>DeveloperIdentifier</key>
	<string>63553QQ62F</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>twitter.com</string>
				<string>*.twitter.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/dlo/no-t.co/releases/download/1.0/no.t.co.safariextz</string>
	<key>Website</key>
	<string>http://dlo.me/</string>
</dict>
</plist>
